<table class="table table-hover">
  <thead>
  <tr>
      <td>User ID</td>
      <td>Todo</td>
      <td>Completed</td>
      <td colspan="3"></td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let todo of todos">
          <td>{{ todo.userId }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.completed }}</td>
          <td><a [routerLink]="['/edit', todo.id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteTodo(todo.id)"  class="btn btn-danger">Delete</button></td>
          <td><div *ngIf="!todo.completed;then complete_button else incomplete_button"></div></td>

          <ng-template #complete_button><button (click)="toggleComplete(todo.title,todo.completed,todo.id)" class="btn btn-warning">Set Completed</button></ng-template>
          <ng-template #incomplete_button><button (click)="toggleComplete(todo.title,todo.completed,todo.id)" class="btn btn-info">Set uncompleted</button></ng-template>
      </tr>
  </tbody>
</table>
